@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?6bbnub');
	src:url('/fonts/icomoon.eot?#iefix6bbnub') format('embedded-opentype'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.woff?6bbnub') format('woff'),
		url('/fonts/icomoon.svg?6bbnub#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-child:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-city:before {
	content: "\e90a";
}
.icon-newspaper:before {
	content: "\e90b";
}
.icon-magazine:before {
	content: "\e90c";
}
.icon-pencil6:before {
	content: "\e913";
}
.icon-pencil7:before {
	content: "\e914";
}
.icon-film3:before {
	content: "\e960";
}
.icon-book:before {
	content: "\e990";
}
.icon-book2:before {
	content: "\e991";
}
.icon-book3:before {
	content: "\e993";
}
.icon-bookmark:before {
	content: "\e994";
}
.icon-books:before {
	content: "\e995";
}
.icon-reading:before {
	content: "\e997";
}
.icon-library:before {
	content: "\e998";
}
.icon-library2:before {
	content: "\e999";
}
.icon-graduation:before {
	content: "\e99a";
}
.icon-ticket:before {
	content: "\e9f9";
}
.icon-ticket2:before {
	content: "\e9fa";
}
.icon-theater:before {
	content: "\e9fb";
}
.icon-store:before {
	content: "\e9fc";
}
.icon-coin-pound:before {
	content: "\ea0d";
}
.icon-piggy-bank:before {
	content: "\ea0f";
}
.icon-credit-card:before {
	content: "\ea15";
}
.icon-credit-card2:before {
	content: "\ea16";
}
.icon-phone:before {
	content: "\ea1c";
}
.icon-phone2:before {
	content: "\ea1d";
}
.icon-phone3:before {
	content: "\ea26";
}
.icon-at-sign:before {
	content: "\ea2f";
}
.icon-envelop:before {
	content: "\ea30";
}
.icon-envelop2:before {
	content: "\ea31";
}
.icon-envelop3:before {
	content: "\ea32";
}
.icon-envelop4:before {
	content: "\ea33";
}
.icon-envelop5:before {
	content: "\ea34";
}
.icon-location2:before {
	content: "\ea39";
}
.icon-location3:before {
	content: "\ea3a";
}
.icon-location4:before {
	content: "\ea3b";
}
.icon-location5:before {
	content: "\ea3c";
}
.icon-location7:before {
	content: "\ea3e";
}
.icon-compass2:before {
	content: "\ea40";
}
.icon-map4:before {
	content: "\ea48";
}
.icon-map5:before {
	content: "\ea49";
}
.icon-direction:before {
	content: "\ea4a";
}
.icon-clock:before {
	content: "\ea4d";
}
.icon-clock2:before {
	content: "\ea4e";
}
.icon-clock3:before {
	content: "\ea4f";
}
.icon-clock4:before {
	content: "\ea50";
}
.icon-calendar:before {
	content: "\ea5f";
}
.icon-calendar2:before {
	content: "\ea60";
}
.icon-calendar4:before {
	content: "\ea62";
}
.icon-calendar5:before {
	content: "\ea63";
}
.icon-bubbles:before {
	content: "\eac2";
}
.icon-bubbles2:before {
	content: "\eac3";
}
.icon-bubbles3:before {
	content: "\eac5";
}
.icon-bubbles4:before {
	content: "\eac6";
}
.icon-bubbles5:before {
	content: "\eac8";
}
.icon-bubbles6:before {
	content: "\eac9";
}
.icon-bubbles9:before {
	content: "\eadb";
}
.icon-bubbles10:before {
	content: "\eadc";
}
.icon-users4:before {
	content: "\eb09";
}
.icon-vcard:before {
	content: "\eb0e";
}
.icon-search3:before {
	content: "\eb33";
}
.icon-search4:before {
	content: "\eb34";
}
.icon-pulse:before {
	content: "\eb6c";
}
.icon-aid-kit:before {
	content: "\eb6e";
}
.icon-aid-kit2:before {
	content: "\eb6f";
}
.icon-stethoscope:before {
	content: "\eb70";
}
.icon-pie-chart2:before {
	content: "\eb7e";
}
.icon-tree:before {
	content: "\ebcf";
}
.icon-tree2:before {
	content: "\ebd0";
}
.icon-paw:before {
	content: "\ebd5";
}
.icon-footprint:before {
	content: "\ebd6";
}
.icon-tent:before {
	content: "\ebd7";
}
.icon-bin:before {
	content: "\ebfa";
}
.icon-bin5:before {
	content: "\ebfe";
}
.icon-airplane2:before {
	content: "\ec03";
}
.icon-airplane3:before {
	content: "\ec04";
}
.icon-steering-wheel:before {
	content: "\ec08";
}
.icon-bus:before {
	content: "\ec0b";
}
.icon-truck:before {
	content: "\ec0c";
}
.icon-road:before {
	content: "\ec0e";
}
.icon-train:before {
	content: "\ec0f";
}
.icon-train2:before {
	content: "\ec10";
}
.icon-ship:before {
	content: "\ec11";
}
.icon-boat:before {
	content: "\ec12";
}
.icon-accessibility2:before {
	content: "\ec26";
}
.icon-soccer:before {
	content: "\ec34";
}
.icon-tennis:before {
	content: "\ec39";
}
.icon-pingpong:before {
	content: "\ec3a";
}
.icon-golf2:before {
	content: "\ec3e";
}
.icon-racing:before {
	content: "\ec40";
}
.icon-earth:before {
	content: "\ec93";
}
.icon-earth2:before {
	content: "\ec94";
}
.icon-spotlight2:before {
	content: "\ecb8";
}
.icon-temperature:before {
	content: "\ecbb";
}
.icon-temperature2:before {
	content: "\ecbc";
}
.icon-weather-cloud-wind:before {
	content: "\ecc3";
}
.icon-weather-cloud-wind2:before {
	content: "\ecc4";
}
.icon-weather-cloud-sun:before {
	content: "\ecc5";
}
.icon-weather-cloud-sun2:before {
	content: "\ecc6";
}
.icon-weather-cloudy:before {
	content: "\ecc7";
}
.icon-weather-cloudy2:before {
	content: "\ecc8";
}
.icon-weather-sun-wind:before {
	content: "\ecc9";
}
.icon-weather-sun-wind2:before {
	content: "\ecca";
}
.icon-sun:before {
	content: "\eccb";
}
.icon-sun2:before {
	content: "\eccc";
}
.icon-day-night2:before {
	content: "\eccf";
}
.icon-weather-windy:before {
	content: "\ecd0";
}
.icon-umbrella:before {
	content: "\ecd2";
}
.icon-facebook2:before {
	content: "\eee9";
}
.icon-facebook3:before {
	content: "\eeea";
}
.icon-twitter2:before {
	content: "\eeee";
}
.icon-twitter3:before {
	content: "\eeef";
}
.icon-youtube3:before {
	content: "\eef5";
}
.icon-blogger2:before {
	content: "\ef16";
}
.icon-skype:before {
	content: "\ef22";
}
.icon-linkedin:before {
	content: "\ef24";
}
.icon-linkedin2:before {
	content: "\ef25";
}
.icon-pinterest:before {
	content: "\ef2c";
}
.icon-pinterest2:before {
	content: "\ef2d";
}
.icon-calendar3:before {
	content: "\e953";
}